/* Permite a inserção de letras e símbolos especias */
@charset "UTF-8";

/* Importaando fonte do Google Fonts (Bebas Neue) */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Importando fonte externa baixada no pc */
@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/* Códigos das cores usadas no projeto
#59B688
#6E9F87
#22754B
#2F4F3F
#23312A
*/

/* 'root' é a pseudo-classe que permite declarar variáveis */
/* Podemos definir variáveis globais que vão armazenar atributos de personalização, como cores. Caso seja necessário mudar as cores de vários elemenros, basta fazer isso em uma variável dentro de 'root' */
:root {
    --cor0: #59B688;
    --cor1: #6E9F87;
    --cor2: #22754B;
    --cor3: #2F4F3F;
    --cor4: #23312A;

    --fontepadrao: 'Arial', 'Helvetica', sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandorid: 'Android', cursive;
}

/* Seletor universal de todos elementos CSS */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(236, 203, 141, 0.205);
    font-family: var(--fontepadrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));
    min-height: 150px; /* Define uma altura mínima */
    text-align: center;
    padding-top: 40px; /* Adiciona uma espaço entre o 'h1' e o topo da tela */
}

header > h1 {
    color: white;
    font-family: var(--fontedestaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px; /* Adiciona uma margen que fica entre o 'h1' e o 'p' */
    text-shadow: 2px 2px 0px black;
}

header p {
    color: white;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px; /* Define uma largura máxima, nesse caso é menor que a largura de 'header' para que sobrem espaçoes */
    padding-right: 10px;
    padding-left: 10px;
    margin: auto; /* Centraliza o parágrafo dentro de 'header' */
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: var(--cor4);
    padding: 10px; /* Espaçamento do menu */
    box-shadow: 0px 7px 9px black;
}

/* Configurações de cada link do menu */
nav a {
    color: white;
    padding: 10px; /* Espaçamento entre os links */
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado do link */
    font-weight: bold;
    transition-duration: 0.5s; /* Define a velocidade da transição ao passar o mouse */
}

/* Pseudo-classe que altera o comportamento do link ao passar o mouse */
nav a:hover {
    background-color: var(--cor0); /* Altera a cor do fundo ao passar o mouse por cima (de verde escuro para verde claro) */
    color: var(--cor4); /* Altera a cor do texto ao passar o mouse por cima (de branco para verde) */
}


main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonteandorid);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonteandorid);
    color: var(--cor2);
    font-size: 1.4em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent); /* Adicona um gradiente que faz com que pareça um aspecto degradê de cores*/
    text-indent: 8px; /* Aiciona um recuo, como se fosse o espaço de uma redação ou artigo */
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /* Aiciona um recuo, como se fosse o espaço de uma redação ou artigo */
    font-size: 1.1em;
    line-height: 2em; /* Espaçamento entre linhas */
}


main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 5px;
}

/* Pseudo-classe que altera o comportamento do link ao passar o mouse */
main a:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

/* Regras para imagens, as comuns para telas grandes */
main img {
    width: 100%; /* Garante que a imagem ocupe 100% do 'main' */
}

/* Regras para imagens pequenas que recebe a classe 'pequena' */
main img.pequena {
    max-width: 350px;
    display: block; /* Por padrão, 'inmg' é 'inline', para poder centralizar precisamos mudar para 'block' */
    margin: auto; /* Centraliza a caixa. Só funciona se for com display: block */
}

/* Adiciona 1 espaço (\00A0) e 1 emoji (\1F517) após o texto */
a.externo::after {
    content: '\00A0\1F517';
}

/* Precismaos envelopar 'video' em uma 'div' para poder personalizar conforme com a página*/
div.video {
   background-color: var(--cor1);
   margin: -0px -20px 30px;
   padding: 20px;
   padding-bottom: 57%; /* Deixa o vídeo com 16:9 */
   position: relative;/* Serve como referência para o inframe, ele procura um 'position:relative' para se referenciar */
}

/* Faz com que o vídeo fique responsivo; se adapte aos diversos tamanhos de tela */
div.video > iframe {
    position: absolute; /* Se posicona dentro da 'div' de acordo com sua referência que é 'position:relative' */
    top: 5%; /* Afasta o inframe das bordas*/
    left: 5%; /* Afasta o inframe das bordas*/
    width: 90%; /* Ocupa 90% da div, deixando uma margem de 5% */
    height: 90%; /* Ocupa 90% da div, deixando uma margem de 5% */
}

/* Configuração de toda a tag 'aside' */
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
}

aside > h3 {
    background-color: #23312A;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

/* list-style-type: define o ícone/emoji para cada item da lista e list-style-position: alinha o texto com o parágrafo */
aside > ul {
    list-style-type: '\1F5F8\00A0\00A0'; /* 00A0 código de espaço e 1F5F8 emoji */
    list-style-position: inside; /* Alinha o texto com o parágrafo */
    columns: 2; /* Adciona duas colonas em que o item/texto se dividem */
}

footer {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-size: 0.8em;

}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
}