@charset "UTF-8";

/* Seletor universal das CSS. Defien a configuração das propriedades de todos os elementos da página/projeto */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Toda a parte verde que possui o degradê  na tela */
body {
    background-image: linear-gradient(to right, #44803F, #B4CF66); /* cor de fundo com degradê */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Caixa que contém o conteúdo (fundo branco) */
main {
    background-color: white;
    width: 500px; /* Aumenta a largura */
    padding: 10px; /* Adiciona espaçamento interno, entre o conteúdo e a borda */
    border-radius: 9px; /* Adiciona bordas arredondadas */
    box-shadow: 10px 10px 10px #ff583352; /* Adicona uma sombra na caixa */
    margin: 20px auto; /* Centraliza o elemento horizontalmente */
}

h1 {
    color: #FF5A33;
    text-align: center;
    text-shadow: 2px 2px 0px #44803f75;
}

h2 {
    color: #FFEC5C;
    text-shadow: 2px 2px 0px #44803f75;
}

p {
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: auto;
}

footer > p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

